{% extends 'base.html' %}

{% block content %}
<br>

<h1>Alta de Turno</h1>
<br>
    <form method = 'POST' enctype="multipart/form-data">
        {% csrf_token %}
        <table class = 'w-50 table table-light' style="border-radius:10px;">
            {% for field in upload_form %}
            <tr>
                <th>{{field.label}}</th>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
        <button href="{% url 'clinica:turnos' %}" type="submit" class="btn btn-primary">CONFIRMAR</button>
        <a href="{% url 'clinica:turnos' %}" class="btn btn-danger">CANCELAR</a>
    </form>
{% endblock content %}
