{% extends 'base.html' %}

{% block content %}
<br>

<h1>Pedido</h1>
<br>
    <form method = 'POST' enctype="multipart/form-data">
        {% csrf_token %}
        <table class = 'w-50 table table-light' style="border-radius:10px;">
            {% for field in upload_form %}
            <tr>
                <th>{{field.label}}</th>
                <td>{{ field }}</td>
            </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-primary">CONFIRMAR</button>
        <a href="{% url 'clinica:pedidos' %}" class="btn btn-danger">CANCELAR</a>
    </form>

    <!-- <form action="{% url 'clinica:pedidos' %}" method = 'POST' >
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-primary">Agregar</button>
    </form> -->
    
{% endblock content %}
