{% extends 'base.html' %}
{% load bootstrap3 %}

{% block extrahead %}
{{ upload_form.media }}
{% endblock %}

{% block content %}
<br>

<h1>Consulta</h1>
<br>
    <form method = 'POST' enctype="multipart/form-data">
        {% csrf_token %}
        <table class = 'w-50 table table-light' style="border-radius:10px;">
            {% bootstrap_form upload_form %}

        </table>
        <button type="submit" class="btn btn-primary">CONFIRMAR</button>
        <a href="{% url 'clinica:pacientes' %}" class="btn btn-danger">CANCELAR</a>
    </form>
{% endblock content %}
