{% extends 'base.html' %}

{% block content %}
    <br>
    <h1> Historial del Paciente: {{paciente.nombre}} {{paciente.apellido}}  </h1>

    <h2> Consultas </h2>
<br>
{% if user.es_medico  %}

<button type="button" class="btn btn-success" onclick="location.href='{% url 'clinica:agregar_consulta'  %}' ">AGREGAR</button> 
{% endif  %}<br>

    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">Fecha</th>
            <th scope="col">Motivo Consulta</th>
            <th scope="col">Diagnostico</th>
            <th scope="col">Tratamiento</th>
            <th scope="col">Observacion</th>

            
        </tr>
        </thead>
        <tbody>
  
    {% for unaConsulta in consultas %}
    <tr>
        <th scope="row">{{unaConsulta.fecha}}</th>
        <td>{{unaConsulta.motivo}}</td>
        <td>{{unaConsulta.diagnostico}}</td>
        <td>{{unaConsulta.tratamiento}}</td>
        <td>{{unaConsulta.observaciones}}
        </td>
        <td>
            {% if user.es_medico  %}

            <button type="button" class="btn btn-warning" onclick="location.href='{% url 'clinica:modificar_consulta' unaConsulta.id %}'" >EDITAR</button> 
            <button type="button" class="btn btn-danger" onclick="location.href='{% url 'clinica:eliminar_consulta' unaConsulta.id %}'">ELIMINAR</button>  
            {% endif  %}<br>

        </td>
    </tr>
    {% endfor %}  
    <br>


  
<br>


</tbody>
</table>

          <a href="{% url 'clinica:pacientes' %}" class="btn btn-primary">VOLVER</a>

        
    
        
        
          <br>

          <br>
        
    
    
{% endblock content %}