{% extends 'base.html' %}

{% block content %}
    
    <div class="container-fluid"></div>
        <div class="panel panel-default">
            <div class="panel-heading">{{titulo}} 
                <!-- <div class="pull-right ">
                    <a class="btn btn-confirm btn-sm" href="{% url 'clinica:index' %}">
                    <i class="fa fa-refresh"></i>
                    <b>Volver</b></a>
                </div> -->
            </div>

            <div class="panel-body">

                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Paciente</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Total</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for item in pacientes %}
                                <tr>
                                    <th scope="row">{{item.paciente.id}}</th>
                                    <td> {{ item.paciente}}</td> 
                                    <td> {{ item.cantidad}}</td> 
                                    <td> {{ item.total}}</td> 
                                </tr>
                                {% empty %}
                                <tr>
                                    <td style="text-align:center" colspan="7"><strong>No hay pacientes con pedidos </strong></td>
                                </tr>                        
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
          
        
    </div>
{% endblock content %}

